.game_text {
  transition: all 0.5s;
  border: none;
  font-family: inherit;
  border-radius: 1rem;
  width: 100%;
  vertical-align: top;
  resize: none;
  color: #a6abad;
  font-size: 2rem;
  text-align: left;
  user-select: none;
}
.correct {
  color: #f4fbfe;
  transition: all 0.5s;
}
.wrong {
  color: crimson;
  transition: all 0.5s;
}
