@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");
#root {
  max-width: 1280px;
  padding-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  text-align: center;
}
:root {
  --color-main: #191818;
  --color-secondary: #f2c230;
  --color-neutral: #f4fbfe;
  --color-neutral-darker: #a6abad;
}
a {
  text-decoration: none;
  border: none;
  background: none;
  font: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  color: #f4fbfe;
  transition: all 0.5s;
  max-width: fit-content;
  font-weight: 800;
  text-decoration: none;
}

html {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
body {
  color: var(--color-neutral);
  background-color: var(--color-main);
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.active {
  color: var(--color-secondary) !important;
}
a:hover {
  outline: none;
  color: #f6d672;
}
